<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
    <fieldset>
        <form action="/login" method="post">
            <input type="text" name="username" id="username" placeholder="Email" >
            <br>
            <input type="password" name="password" id="password" placeholder="Password">
            <br>
            <input type="submit" value="로그인">
        </form>
    </fieldset>

  <fieldset>
      <a href="/signup">회원가입</a>
  </fieldset>
</body>
</html>